# 🌐 Puerto donde se ejecutará la aplicación
PORT=9000

# 🌍 Orígenes permitido para CORS
ORIGIN1=http://localhost:8080
ORIGIN2=https://produccion-tarjetaclub-sk.web.app
ORIGIN3=https://staging-tarjetaclub-sk.web.app
ORIGIN4=https://produccion-tarjetaclub-sk.firebaseapp.com
ORIGIN5=https://validaciontarjetaclub.superkompras.com.mx
ORIGIN6=https://staging-tarjetaclub-sk.firebaseapp.com
ORIGIN7=https://stagingvalidaciontarjetaclub.superkompras.com.mx
ORIGIN8=https://testings-devitm.web.app
ORIGIN9=https://testings-devitm.firebaseapp.com
ORIGIN10=http://localhost:3000
ORIGIN11=https://ecommercesk.web.app
ORIGIN12=https://ecommercesk.firebaseapp.com
ORIGIN13=https://sk.cideapps.com
ORIGIN14=https://sk.cideapps.com
ORIGIN15=https://pruebas.superkompras.com.mx
ORIGIN16=https://dev-tarjetaclub-sk.web.app
ORIGIN17=https://dev-tarjetaclub-sk.firebaseapp.com
ORIGIN18=https://produccion-ecommerce.web.app
ORIGIN19=https://produccion-ecommerce.firebaseapp.com
ORIGIN20=https://superkompras.com.mx
ORIGIN21=https://www.superkompras.com.mx

# 🔐 Firebase: ruta al archivo de credenciales montado como volumen
GOOGLE_APPLICATION_CREDENTIALS= # Google Service Account Key JSON File

VALID_USER= # Usuario para autenticación básica en peticiones HTTP
VALID_PASS= # Contraseña para autenticación básica en peticiones HTTP

MAILJET_API_Key= # API key de Mailjet
MAILJET_Secret_Key= # Secret key de Mailjet

TWILIO_ACCOUNT_SID= # Account SID de Twilio
TWILIO_AUTH_TOKEN= # Auth Token de Twilio
TWILIO_SERVICE= # Verify Service SID Twilio

RECAPTCHA_BASE_URL= # Google Recaptcha Base URL
RECAPTCHA_API_KEY= # Google Recaptcha API KEY

FIREBASE_API_KEY= # Firebase API Key

ACTION_TWILIO_SEND=twilioSndC0de
ACTION_TWILIO_CONF=twilioc0nfCode
ACTION_MAILJET_SEND=mailjetSnDC0de

BASE_URL_CONSULTA_TARJETA= # URL Autorizador para consultar saldo
BASE_URL_PRODUCCION= # Firebase Webhook Base URL
BASE_URL_TEST= # Apphive Webhook Base URL

HOOK_ENVIAR_CODIGO_TELEFONO_PRUEBA= # Apphive testValidarSMS hook ID
HOOK_ENVIAR_CODIGO_TELEFONO= # Apphive webhookValidatePhoneViaTwilio hook ID
HOOK_VALIDAR_CODIGO_TELEFONO= # Apphive webhookVerifyPhoneViaTwilio hook ID

HOOK_ENVIAR_CODIGO_CORREO= # Apphive webhookSendVerificationEmail hook ID
HOOK_VALIDAR_CODIGO_CORREO= # Apphive webhookVerifyEmailCode hook ID

HOOK_GUARDAR_TARJETAHABIENTE_VALIDADO= # Apphive webhookSaveSkMemberVerified hook ID

HOOK_ENVIAR_FOLIO_PREREGISTRO= # Apphive webhookSendCustomerFolio hook ID

HASURA_ADMIN_SECRET= # Hasura Admin Secret
BASE_URL_HASURA= # Hasura Project base URL API Rest
URL_GUARDAR_TARJETAHABIENTE_HASURA=addtarjethabiente
URL_OBTENER_TARJETAHABIENTES_HASURA=alltarjetahabientes
URL_CONTEO_CLI_HASURA=getconteoidcli
URL_OBTENER_UN_TARJETAHABIENTE_HASURA=getonetarjetahabiente
URL_ACTUALIZAR_TARJETAHABIENTE_HASURA=updatetarjetahabiente
URL_ID_CLI_HASURA=getidcli
URL_ID_OBTENER_ACCESOS_USUARIO_HASURA=getaccesosusuario
URL_CONSULTA_EMPLEADOS_SUCURSAL=getempleadossucursal
URL_GUARDAR_TARJETAHABIENTE_HASURA_V2=addtarjethabientev2
URL_OBTENER_TARJETAHABIENTES_HASURA_V2=alltarjetahabientesv2
URL_OBTENER_UN_TARJETAHABIENTE_HASURA_V2=getonetarjetahabientev2
URL_ACTUALIZAR_TARJETAHABIENTE_HASURA_V2=updatetarjetahabientev2
URL_OBTENER_VERIFIACIONES_FECHA_HASURA=getverificacionesfecha
URL_OBTENER_TARJETA_ACTIVACION_HASURA=gettarjetaactivacion
URL_ACTIVAR_TARJETA_HASURA=activartarjeta
URL_CONSULTA_EMPLEADOS_USUARIO_SUCURSAL=getempleadousuariosucursal
URL_OBTENER_TARJETAS_PREACTIVACION=gettarjetaspreactivacion
URL_EDICION_MANUAL_TARJETAS=updatetarjetahabienteedicionmanual
URL_OBTENER_TARJETAHABIENTS_ID=gettarjetahabientesrecordid